/* Combined CSS */

/* Font faces */
@font-face {
    font-family: 'playfairdisplay';
    src: url('media/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'xanhmono';
    src: url('media/fonts/XanhMono-Regular.ttf') format('truetype');
}

/* Common styles */
body {
    background-color: #000;
    margin: 0;
    font-family: 'xanhmono', sans-serif;
    color: white;
    padding: 20px;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.projects {
    width: calc(25% - 20px); /* Each project takes 25% of the screen width minus margins */
    margin: 10px; /* Adjusted to create space between columns */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.project-preview img,
.website-mention img,
.blog_img img {
    width: auto; /* Set the width to 200 pixels */
    height: 150px;
}

.card {
    padding: 20px;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure the projects are spaced evenly */
}

.row::after {
    content: ""; /* Clearfix */
    clear: both;
    display: table;
}

.header {
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

/* Navbar styles */
.navbar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.socialsdropdown {
    position: relative;
    display: inline-block;
}

.socialsdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.socialsdropdown:hover .socialsdropdown-content {
    display: block;
}

.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    clear: both; /* Add clearfix to */
}