@font-face {
    font-family: ChakraPetch;
    src: url(sitedeco/ChakraPetch-Regular.ttf);
}

body {
    font-family: ChakraPetch;
    background-image: url('sitedeco/img/pexels-felix-mittermeier-1146134.jpg');
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 80px;
    font-size: 40px;
}
