body {
    background-image: url('sitedeco/img/pexels-felix-mittermeier-1146134.jpg');
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
}

nav.menu ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0;
    padding: 0;
    display: flex; /* Make the <ul> element flex */
}

nav.menu li {
    margin: 0 40px; /* Add margin between list items */
}

nav.menu a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: white;
    text-decoration: none;
}
