body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.container {
    width: 80%;
    margin: auto;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

header {
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    margin-bottom: 20px;
}

.image-container img {
    width: 200px;
    height: auto;
}

.text-container p {
    font-size: 15px;
}

ul, ol {
    list-style-type: none;
    padding-left: 0; /* optional: removes default left padding */
}

li {
    /* optional: remove underlines for links inside list items */
    text-decoration: none;
}

.icon-button {
    background-color: transparent; /* Remove background color if needed */
    border: none; /* Remove border if needed */
    padding: 0; /* Remove padding if needed */
    cursor: pointer; /* Set cursor to pointer for better UX */
}

.icon-button img {
    width: 24px; /* Adjust width of the icon as needed */
    height: 24px; /* Adjust height of the icon as needed */
    /* You can add more styling to the image here */
}

.socialsmenu ul{
    color: white;
}

p.note {
    width: 60%; /* Adjust the percentage or any other appropriate width value */
    margin: 0 auto; /* This centers the element horizontally */
    text-align: left;
}
