/* Font faces */
@font-face {
    font-family: 'playfairdisplay';
    src: url('media/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'xanhmono';
    src: url('media/fonts/XanhMono-Regular.ttf') format('truetype');
}

/* Common styles */
body {
    background-color: #000;
    margin: 0;
    padding: 20px;
    font-family: 'xanhmono', sans-serif;
    color: white;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.welcome {
    width: 500px;
    font-size: 20px;
    text-align: center;
}

.selfie-img {
    width: 30%;
}

/* Styles from File 1 */
.project {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 80%;
    margin: 30px auto;
}

.project-preview img {
    padding: 20px;
    width: 200px;
    height: auto;
}

.website-mention img {
    width: 50%;
    height: 50%;
}

.about-the-project.text-container {
    text-align: left;
}

.about-the-project.text-container h1 {
    margin: auto;
}

.link-to-project {
    color: gray;
}

/* Styles from File 2 */
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

.socials-title {
    padding: 40px;
    font-size: 25px;
    text-align: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 30px;
    width: 60%;
    margin: 30px auto 0; /* Adjust the top margin */
}

.title img{
    width: 300px;
}

.title h1 {
    margin-bottom: 0px;
}

.subtitle {
    font-size: 20px;
}

.tinymsg {
    color: gray;
}

header {
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container p {
    font-size: 15px;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

.socialsdropdown {
    position: relative;
    display: inline-block;
}

.socialsdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.socialsdropdown:hover .socialsdropdown-content {
    display: block;
}

.text-container {
    align-self: center;
}

hr.solid {
    border-top: 3px solid #242424;
    width: 75%;
}

/* Blog */
/* Combined CSS */

.projects {
    box-sizing: border-box;
    margin: 10px;
}

.project {
    width: calc(33.33% - 20px); /* Display 3 projects in a row */
}

.project-preview img,
.website-mention img,
.blog_img img {
    max-width: 300px;
    height: auto;
    display: block; /* Ensure the images don't have any unwanted gaps */
}

.card {
    padding: 20px;
    margin-top: 20px;
    max-width: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Navbar styles */
.navbar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin: 0 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    line-height: 30px;
}

/* Footer styles */
.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.note {
    font-size: 11px;
    color: gray;
}

a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
}


/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .project {
        width: calc(50% - 20px); /* Display 2 projects in a row for smaller screens */
    }
}
