@font-face {
    font-family: 'DMSans'; /* Custom name for the font */
    src: url('../assets/font/DMSans-VariableFont_opsz\,wght.ttf') format('truetype'); /* Path to the .ttf file */
  }
  
body {
  background-image: url(/assets/img/19852128_6194995.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the whole page */
  background-attachment: fixed; /* Makes the image stay in place during scrolling */
  background-position: center; /* Centers the image on the page */
  font-family: 'DMSans', sans-serif;
  color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 10px #2D2D2D inset;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: rgba(100, 100, 100, 0.5);
    max-width: 800px;
    margin: 30px auto;
}  
  
.navbar li {
    margin: 0 50px;
    list-style: none;
}
  
.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}
  
.navbar li a:hover {
    color: #00bfff;
}

.logo {
  font-size: 30px;
  font-family: 'Blackletter', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

a {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Add underline on hover if desired */
}