/* Combined CSS */

/* Font faces */
@font-face {
    font-family: 'playfairdisplay';
    src: url('../media/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'xanhmono';
    src: url('../media/fonts/XanhMono-Regular.ttf') format('truetype');
}

/* Common styles */
body {
    background-color: #000;
    margin: 0;
    font-family: 'xanhmono', sans-serif;
    color: white;
    padding: 20px;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.projects {
    width: calc(25% - 20px); /* Each project takes 25% of the screen width minus margins */
    margin: 10px; /* Adjusted to create space between columns */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.project-article {
    max-width: 60%;
    margin: 0 auto;
}

.project-preview img,
.website-mention img,
.blog_img img {
    width: auto; /* Set the width to 200 pixels */
    height: 150px;
}

.project-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-logo img{
    width: 500px;
}

.showcase-gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-gif img{
    padding: 20px;
    width: 400px;
    height: auto;
}

.showcase-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-image img{
    padding: 20px;
    width: 400px;
    height: auto;
}

.gameplay-example {
    padding: 20px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenshot img {
    padding: 20px;
}


.title {
    text-align: center;
    font-size: 30px;
}

.tinymsg {
    color: gray;
}

.paragraph {
    text-align: center;
}

.card {
    padding: 20px;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure the projects are spaced evenly */
}

.row::after {
    content: ""; /* Clearfix */
    clear: both;
    display: table;
}

.header {
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

/* Navbar styles */
.navbar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin: 0 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    line-height: 30px;
}

a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
}

.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    clear: both; /* Add clearfix to */
}